[submodule "mthree"]
	path = mthree
	url = https://github.com/Dpbm/mthree
[submodule "qiskit-addon-mpf"]
	path = qiskit-addon-mpf
	url = https://github.com/Dpbm/qiskit-addon-mpf
[submodule "qiskit-addon-obp"]
	path = qiskit-addon-obp
	url = https://github.com/Dpbm/qiskit-addon-obp
[submodule "quantum-gates"]
	path = quantum-gates
	url = https://github.com/Dpbm/quantum-gates
[submodule "mitiq"]
	path = mitiq
	url = https://github.com/Dpbm/mitiq
